extends ../layout.pug

block content
  h3 Edit #{video.title}...
  form(method='POST')
    input(name="title" required value=video.title type="text" placeholder="Video Title") 
    input(type="submit" value="Save")