extends ../layout.pug

block content  
  div
    if errorMessage    
      span=errorMessage
  br
  form(method='POST') 
    input(name="title" type="text" placeholder="Video Title", required)
    input(name="description" type="text" placeholder="Video Description", required)
    input(name="hashtags" type="text" placeholder="Hashtags for Video", required)
    input(type="submit" value="Upload Video")