extends ../template/layout.pug

block content
  if errorMessage
    p=errorMessage
  form(method='post')
    input(required name="oldPassword" type="password" placeholder="Old Password")    
    input(required name="newPassword" type="password" placeholder="New Password")    
    input(required name="newPassword2" type="password" placeholder="Password Confirm") 
    input(type="submit" value='Edit Profile')
  hr
  a(href="change-password") Change Password &rarr;
  
