extends ../template/layout.pug

block content
  if errorMessage
    p=errorMessage
  form(method='post') 
    input(required name="username" type="text" placeholder="Username")    
    input(required name="password" type="password" placeholder="Password")    
    input(type="submit" value='Login')
  hr
  div
    span Don't have an account?  
      a(href='/join') Create Account &rarr;